parameters:
    level: max
    paths:
        - src
        - tests
    scanFiles:
        - src/Sloop/Helpers/path.php
        - src/Sloop/Helpers/env.php
    stubFiles:
        - vendor/jetbrains/phpstorm-stubs/apcu/apcu.php
